<section class="text-center">
  <h1> Pesquise Por filmes e series </h1>
  <p>Insira o nome da Serie ou filme para verificar mais informações e detalhes.</p>
</section>

<section>
  <form [formGroup]="form" class="row">
    <div class="col-8">
      <label for="titleMovie" class="visually-hidden">Nome do Filme</label>
      <input type="input" class="form-control" id="titleMovie" formControlName="titleMovie" [(ngModel)]="title" placeholder="Nome do Filme">
    </div>
    <div class="col-4 d-md-flex">
      <div class="col-6">
        <button class="btn btn-success mb-3" (click)="onSubmit()" [disabled]="form.invalid"> Search </button>
      </div>

      <div class="col-6">
        <button class="btn btn-secondary mb-3" (click)="onReset()" [disabled]="form.invalid"> Reset</button>
      </div>
    </div>
  </form>
</section>

<section *ngIf="isLoading$ | async ">
  <p>Carregando ...</p>
</section>
<div *ngIf="error$ | async as error">
  <app-error-dialog [errorInfo]="error"></app-error-dialog>
</div>

<!-- Componentizar Para Movie Component passando as dependecias -->
<div *ngIf="movie$ | async as movie">
  <app-movie [movieObject]="movie">{{movie.Title}}</app-movie>
</div>